.float {
  float:left
}

.clear {
   clear: both;
}
.box {
  width: 100px;
  height: 100px;

}
.box1 {
  background-color: aqua;
}
.box2 {
  background-color: aquamarine;
}
.box3 {
  background-color: burlywood;
}
.box4 {
  margin: auto;
  background-color: cornflowerblue;
}
.container {
  height: 300px;
   border: 1px solid red;
   overflow:scroll;
}
  